@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');


:root {
	--font-family: 'Helvetica Neue', sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--bg-color: #f0f0f0;
	--color-white: #fff;
	--text-color: #1c1c1c;
	--search-color: #9e9e9e;
	--table-header-color: #0500FF;
	--border-color: #dfdfdf;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	font-family: var(--font-family);
}

html {
	font-size: 62.5%;
}